wms/src/main/webapp/eni/schema/camt.008.002.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2006 Sep 11 12:06:40-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:swift.eni$camt.008.002.02" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:swift.eni$camt.008.002.02">
<xs:element name="Document" type="Document"/>
<xs:simpleType name="AnyBICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="CancellationReason3Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CUST"/>
<xs:enumeration value="DUPL"/>
<xs:enumeration value="AGNT"/>
<xs:enumeration value="CURR"/>
<xs:enumeration value="UPAY"/>
<xs:enumeration value="MM23"/>
<xs:enumeration value="MM24"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Case">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="Cretr" type="AnyBICIdentifier"/>
<xs:element name="ReopCaseIndctn" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CaseAssignment">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="Assgnr" type="AnyBICIdentifier"/>
<xs:element name="Assgne" type="AnyBICIdentifier"/>
<xs:element name="CreDtTm" type="ISODateTime"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CurrencyAndAmount_SimpleType">
<xs:restriction base="xs:decimal">
<xs:minInclusive value="0"/>
<xs:fractionDigits value="5"/>
<xs:totalDigits value="18"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="CurrencyAndAmount">
<xs:simpleContent>
<xs:extension base="CurrencyAndAmount_SimpleType">
<xs:attribute name="Ccy" type="CurrencyCode" use="required"/>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="CurrencyCode">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{3,3}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="DebitAuthorisationDetails2">
<xs:sequence>
<xs:element name="CxlRsn" type="CancellationReason3Code"/>
<xs:element name="AmtToDbt" type="CurrencyAndAmount" minOccurs="0" maxOccurs="1"/>
<xs:element name="ValDtToDbt" type="ISODate" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="camt.008.002.02" type="camt.008.002.02"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISODate">
<xs:restriction base="xs:date"/>
</xs:simpleType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="PaymentInstructionExtract2">
<xs:sequence>
<xs:element name="OrgnlMsgNmId" type="Max35Text" minOccurs="0" maxOccurs="1"/>
<xs:element name="OrgnlInstrId" type="Max35Text"/>
<xs:choice>
<xs:element name="InstdAmt" type="CurrencyAndAmount"/>
<xs:element name="IntrBkSttlmAmt" type="CurrencyAndAmount"/>
</xs:choice>
<xs:choice>
<xs:element name="ReqdExctnDt" type="ISODate"/>
<xs:element name="IntrBkSttlmDt" type="ISODate"/>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="YesNoIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:complexType name="camt.008.002.02">
<xs:sequence>
<xs:element name="Assgnmt" type="CaseAssignment"/>
<!--  xs:element name="Case" type="Case"/-->
<xs:element name="Undrlyg" type="PaymentInstructionExtract2"/>
<xs:element name="Justfn" type="DebitAuthorisationDetails2"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
