wms/src/main/webapp/eni/schema/camt.033.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by guorong (EMBRACE) -->
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2005 Oct 05 09:31:19-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:tech:xsd:camt.033.001.01" targetNamespace="urn:iso:std:iso:20022:tech:xsd:camt.033.001.01" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<xs:simpleType name="Bic_Type">
		<xs:restriction base="xs:string">
			<xs:minLength value="8"/>
			<xs:maxLength value="11"/>
			<xs:pattern value="[A-Z]{4}[A-Z]{2}[0-9A-Z]{2}([0-9A-Z]{3})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Assgnr_BIC_Type">
		<xs:restriction base="Bic_Type"/>
	</xs:simpleType>
	<xs:simpleType name="Assgne_BIC_Type">
		<xs:restriction base="Bic_Type"/>
	</xs:simpleType>
	<xs:simpleType name="ReadOnlyId_Type">
		<xs:restriction base="Max35Text"/>
	</xs:simpleType>
	<xs:simpleType name="ReadOnlyDtTm_Type">
		<xs:restriction base="ISODateTime"/>
	</xs:simpleType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Case">
		<xs:sequence>
			<xs:element name="Id" type="ReadOnlyId_Type"/>
			<xs:element name="Cretr" type="Assgnr_BIC_Type"/>
			<xs:element name="ReopCaseIndctn" type="YesNoIndicator" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CaseAssignment">
		<xs:sequence>
			<xs:element name="Id" type="ReadOnlyId_Type"/>
			<xs:element name="Assgnr" type="Assgnr_BIC_Type"/>
			<xs:element name="Assgne" type="Assgne_BIC_Type"/>
			<xs:element name="CreDtTm" type="ReadOnlyDtTm_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="camt.033.001.01" type="camt.033.001.01"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YesNoIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:complexType name="camt.033.001.01">
		<xs:sequence>
			<xs:element name="Assgnmt" type="CaseAssignment"/>
			<xs:element name="Case" type="Case"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
