wms/src/main/webapp/eni/schema/camt.039.001.02.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by SWIFTStandards Workstation (build:R5.1.0.4) on 2006 Sep 11 12:06:40-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:swift:xsd:swift.eni$camt.039.001.02" elementFormDefault="qualified" targetNamespace="urn:swift:xsd:swift.eni$camt.039.001.02">
<xs:element name="Document" type="Document"/>
<xs:simpleType name="AnyBICIdentifier">
<xs:restriction base="xs:string">
<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Case">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="Cretr" type="AnyBICIdentifier"/>
<xs:element name="ReopCaseIndctn" type="YesNoIndicator" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CaseAssignment">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="Assgnr" type="AnyBICIdentifier"/>
<xs:element name="Assgne" type="AnyBICIdentifier"/>
<xs:element name="CreDtTm" type="ISODateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CaseStatus2">
<xs:sequence>
<xs:element name="DtTm" type="ISODateTime"/>
<xs:element name="CaseSts" type="CaseStatus2Code"/>
<xs:element name="Rsn" type="Max140Text" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="CaseStatus2Code">
<xs:restriction base="xs:string">
<xs:enumeration value="CLSD"/>
<xs:enumeration value="ASGN"/>
<xs:enumeration value="INVE"/>
<xs:enumeration value="UKNW"/>
<xs:enumeration value="ODUE"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="Document">
<xs:sequence>
<xs:element name="camt.039.001.02" type="camt.039.001.02"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="ISODateTime">
<xs:restriction base="xs:dateTime"/>
</xs:simpleType>
<xs:simpleType name="Max140Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="140"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Max35Text">
<xs:restriction base="xs:string">
<xs:minLength value="1"/>
<xs:maxLength value="35"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="ReportHeader">
<xs:sequence>
<xs:element name="Id" type="Max35Text"/>
<xs:element name="Fr" type="AnyBICIdentifier"/>
<xs:element name="To" type="AnyBICIdentifier"/>
<xs:element name="CreDtTm" type="ISODateTime"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="YesNoIndicator">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:complexType name="camt.039.001.02">
<xs:sequence>
<xs:element name="Hdr" type="ReportHeader"/>
<xs:element name="Case" type="Case"/>
<xs:element name="Sts" type="CaseStatus2"/>
<xs:element name="NewAssgnmt" type="CaseAssignment" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
